* {
    box-sizing: border-box;
}
body {
    background-color: #282D35;
    margin: 0;
}

.reactLogo {
    width: 28.93px;
    height: 28.93px;
}

.logoWithText {
    margin-left: 26px;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    background-color: #21222A;
}

.navigation>div>h1 {
    color: #61DAFB;
    font-family: Inter;
    font-size: 22.25px;
    font-weight: 700;
    margin-left: 6.68px;
}

.navigation>h2 {
    margin-right: 27px;
    color: rgba(222, 235, 248, 1);
    font-family:Inter;
    font-weight: 600;
    font-size: 16px;
}

.mainContent {
    background-color: #282D35;
}

.mainContent>h3 {
    Color: #FFFFFF;
    margin-left: 27px;
    margin-top: 57px;
    margin-bottom: 0px;
    font-family: Inter;
    font-weight: 700;
    font-size: 39.06px;
}

.mainContent>div>ul {
    Color: #FFFFFF;
    margin-top: 46px;
    list-style: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
}

.mainContent>div>ul>li::before {
    content: "\2022";
    color: #61DAFB;
    width: 9.61px;
    height: 9.61px;
    padding: 14px;
}

.listWithReactLogo {
    display: flex;
    justify-content: space-between;
}